{% extends 'base.html.twig' %}

{% block title %}TaskController!{% endblock %}

{% block body %}


{# <div class="example-wrapper">
    <h2>{{ streak.title }}</h2> 
  


        <p class="data-task">
            {{ streak.user.name }} {{ streak.user.surname }} | {{ streak.createAt|date('d/m/y h:m') }} | {{ streak.priority }} | {{ streak.hours }}h
        </p>


    <p>
        {{ streak.content }}
    </p>

   
</div> #}

{# 
{{ dump(streak) }} #}



{# 
<div class= "conteiner">
<div class="card border-success mb-3">
  <div class="card-header">
    <h2>{{ streak.title| upper  }}</h2>
     <span style="width:11%" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    {{ streak.repeatStreak }}
    <span class="visually-hidden">unread messages</span>
  </span>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{  streak.category.title  }}</h5>
    <p class="card-text">{{ streak.content }}.</p>
    <a href="#" class="btn btn-success">Check as Done.</a>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Show more Details.
</button>
  </div>
  <div class="card-footer text-muted">
   Starts 2 days ago
  </div>
</div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
  </div> #}
{# 

  mainly frame  #}

<div class= "conteiner">
 <div class="card text-center border-{{ streak.do ? 'success' : 'info' }}" style="{{ streak.do ? 'box-shadow: 3px 3px 3px 0px rgba(0,107,34,1);' : 'box-shadow: 3px 3px 3px 0px #858585;' }}    width: 77%;">
  <div class="card-header ">
    <ul class="nav nav-tabs card-header-tabs ">
      <li class="nav-item">
        <a id="remove" class="nav-link active" aria-current="true" href="#">Streak</a>
      </li>
      <li class="nav-item">
        <a id="more" class="nav-link text-success" href="#">More Details</a>
      </li>
      
      {# <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li> #}
    </ul>
  </div>
  <div id="main" class="card-body text-success">
    <h3 class="card-title">{{  streak.title| upper  }}
    </h3>
    <h5 class="card-title" style="color:gray">{{  streak.category.title  }}</h5> 
    <p class="card-text">{{ streak.content }}.</p>
    {% set streakDayOfYear = streak.last_modified|date('z') + 1 %}
    {% if (day_year != streakDayOfYear+1) and (day_year != streak.last_modified|date('z') + 1) %}


        <span class="badge rounded-pill bg-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-octagon-fill" viewBox="0 0 16 16">
        <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353zm-6.106 4.5L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708"/>
        </svg>&nbsp; Max Streak with: {{ streak.repeatStreak }}</span>



    {% else %}


     <span class="badge rounded-pill bg-success"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </svg>&nbsp; Success with: {{ streak.repeatStreak }}</span>

    {% endif %}


   



    </br></br>



        
            {% if (day_year != streakDayOfYear+1) and (day_year != streak.last_modified|date('z') + 1) %}
                <p style="color:red;font-size: 14px;">Streak is <strong>Down.</strong> </p>
            {% elseif not streak.do %} 
                <a href="{{ path('do_streak', {'id': streak.id,'redirect':1}) }}" class="btn btn-primary">
                    Check as Done        
                </a>
            {% else %}
                <p>The Streak is Marked As Done <strong>Today</strong></p>
                <p>Please Come Back Tomorrow</p>
            {% endif %}   




       <div class="card-footer text-muted">  
        The Streak Started the day {{ streak.createAt|date('d/m/Y') }} 
  </div>
  </div>
  

{# second frame  #}

 <div id="detail" style="display:none;" class="card-body text-info">
    <h3 class="card-title">{{  streak.title| upper  }}</h3>
    {% if (day_year != streakDayOfYear+1) and (day_year != streak.last_modified|date('z') + 1) %}
    
    <span class="badge bg-danger">Streak isn't Active</span></br>
      {% else %} 
    <span class="badge bg-success">Streak is Active</span></br>
     {% endif %}  
            <ol class="list-group list-group-numbered">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
            <div class="fw-bold">Maximum amount of streak</div>
            
            </div>
            <span class="badge bg-primary rounded-pill">{{ streak.repeatStreak }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
            <div class="fw-bold">Creation Day</div>
            {{ streak.createAt|date('d/m/Y') }}
            </div>
            {# <span class="badge bg-primary rounded-pill">14</span> #}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
            <div class="fw-bold">The Streak lost</div>
            {{ streak.last_modified|date('d/m/Y') }}
            </div>
            {# <span class="badge bg-primary rounded-pill">14</span> #}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
            <div class="fw-bold">Streak Description</div>
            {{streak.content}}
            </div>
            {# <span class="badge bg-primary rounded-pill">14</span> #}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
            <div class="fw-bold">Category</div>
            {{  streak.category.title|upper  }}
            </div>
            {# <span class="badge bg-primary rounded-pill">14</span> #}
        </li>
        </ol>
</div>


<script>


$(document).ready(function() {






    $('#more').click(()=>{
        $('#more').addClass('active');
        $('#remove').removeClass('active')
        $('#main').hide('slow');
        $('#detail').show('slow');
    });

        $('#remove').click(()=>{
        $('#more').removeClass('active');
        $('#remove').addClass('active')
        $('#main').show('slow');
        $('#detail').hide('slow');
    });
   




});


</script>





{% endblock %}




