{% extends 'base.html.twig' %}

{% block title %}Hello StreakController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<div class="cards">


{% if streaks is empty %}



<div class="alert alert-warning" style = "display:block;text-align: center;" role="alert">
  <p>You dont have any streak yet</p>
  <p><a href="{{ path('streak_creation') }}">Go to create my First Streak</a></p>
</div>



{% endif %}


{% for streak in streaks  %}


{# <div>
{{ dump(streak) }}

<abbr title="HyperText Markup Language" class="initialism">{{streak.title}}</abbr>
<small class="text-muted">{{ streak.category.title }}</small>
<p>{{streak.content}}</p>
<a href="{{ path('do_streak', {'id': streak.id}) }}">
<button type="button" class="btn btn-primary position-relative">

  Mark as Done
  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    {{streak.repeatStreak}}
    <span class="visually-hidden">unread messages</span>
  </span>
</button>
</a>
<p>Your Streak start in :</p>
<p>{{ streak.createAt|date('d/m/Y') }}</p>
<a href="{{ path('streak_detail', {'id': streak.id}) }}">check detail</a>
</div> #}




{# <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
  <div class="card-header">{{streak.title}}</div>
  <div class="card-body">
    <h5 class="card-title">{{ streak.category.title }}</h5>
    <p class="card-text">{{streak.content}}</p>
  </div>
</div> #}



<div class="card">
  <h2 class="card-header">{{ streak.title| upper }} - <st style="color:#3d9bb7;">{{  streak.category.title  }} </st></h2>
  <div class="card-body">


  
    {# <h5 class="card-title">{{ streak.category.title }}</h5> #}
    {# <p class="card-text">{{ streak.content }}</p> #}

    {% if not streak.do %} 
      {# La racha no está marcada como hecha #}
      {% set streakDayOfYear = streak.last_modified|date('z') + 1 %}
      {% if (day_year == streakDayOfYear+1) or (day_year == streak.last_modified|date('z') + 1) %}
        {{ streak.do ? 'Done' : 'Not Done' }}
        </br>
        <a href="{{ path('do_streak', {'id': streak.id,'redirect':0}) }}" class="btn btn-primary">
          Check as Done 
          <span class="badge bg-danger">{{ streak.repeatStreak }}</span>
        </a>
        </br>
      {% else %}
        <p style="color:red;font-size: 14px;"><span class="badge rounded-pill bg-danger">Streak is Down.</span> </p>
        <p>Biggest streak:  <span class="badge bg-dark">{{ streak.repeatStreak }}</span></p>
        <p>Your streak expired : <strong>{{ streak.last_modified|date('d/m/Y H:i') }}</strong></p>
        
      {% endif %}
    {% else %}
      <p>The streak is marked as done</p>
      <P>Please Come Back Tomorrow</P>
      <h2>Day streak: <span class="badge bg-success">{{streak.repeatStreak}}</span></h2>
    {% endif %}
    
    <a class="a_" href="{{ path('streak_detail', {'id': streak.id}) }}"><strong>Go to Detail</strong></a>
  </div>
</div>




{% endfor %}
  
  
</div>


{% endblock %}